NEXT_PUBLIC_PRIVY_APP_ID=<your-privy-app-id>
PRIVY_APP_SECRET=<your-privy-app-secret>

ALIBABA_CLOUD_ACCESS_KEY_ID=<your-alibaba-cloud-access-key-id>
ALIBABA_CLOUD_ACCESS_KEY_SECRET=<your-alibaba-cloud-access-key-secret>